:root{
    --body:#E4E5E1;
    --sidebar:#161717;
    --white:#fff;
    --border:#D2D3D4;
    --text-color:#252526;
    --primary-color:#00B885;
    --gray-color:#757676;
    --orange-color:#E06E3A;
}