.sidebar{
    height: 100vh;
    background: var(--sidebar);
    &__logo{
        padding: 1.6rem 1.8rem;
       background-color: transparent;
       img{
       background-color: var(--sidebar);
       }
    }
    &__menu-list{
        margin-top: 1.8rem;
        background-color: var(--sidebar);
        justify-content: center;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 3.2rem;
    }
    &__menu-inner{
        background-color: var(--sidebar);
        img{
            height: 2.4rem;
            width: 2.4rem;
            background-color: var(--sidebar);
            cursor: pointer;
        }
    }
}
@media (min-width:320px) and (max-width:1024px) {
    .sidebar{
        display: none;
    }
}
